<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs", {title: "auth", styles: "/css/index.css"}) %>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/auth.js" defer></script>
  </head>

  <body>
    <div class="container-auth">
      <div class="forms-container">
        <div class="signin-signup">
       
          <form action="/auth/login" class="sign-in-form" method="post">
            <h2 class="title">Login</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="email" name="email" placeholder="Email" id="email" required value="admin@admin.com"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password" required value="admiN*&" />
            </div>
            <input type="submit" value="Login" class="btn solid btn-login" />
          </form>
  
          
          <form action="/auth/register" class="sign-up-form" method="post">
            <h2 class="title">Register</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="username"
              id="username" placeholder="Username" required />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" id="email" placeholder="Email" required />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" id="password" placeholder="Password" required />
            </div>
            <input type="submit" class="btn btn-register" value="Register" />
          </form>
        </div>
      </div>
  
     
      <div class="panels-container">
       
        <div class="panel left-panel">
          <div class="content">
            <h3>New here?</h3>
            <p>
              Welcome to Compartilhagram! Join us and see what your friends are sharing. Ready to get started?
            </p>
            <button class="btn transparent" id="sign-up-btn">
             Register
            </button>
          </div>
          <img src="/media/img/login.svg" class="image" alt="Login Image" />
        </div>
  
       
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us?</h3>
            <p>
              Great to see you back! Log in to see new posts. We're glad to have you here!
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Login
            </button>
          </div>
          <img src="/media/img/register.svg" class="image" alt="Register Image" />
        </div>
      </div>
    </div>
  </body>
</html>