<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs", {title: "chat", styles:
    "/css/chat.css"}) %>
  </head>
  <body>
    <main>
      <div class="jumbotron">
        <h1>Dashboard</h1>
        <h1>Email <span class="badge text-bg-secondary">here -> <%= user.username %></span></h1>
      </div>
      <div>
        <h1 class="text-2xl font-bold mb-4">Welcome to the Chat App</h1>
        <h2 class="text-1xl m-3">Current room: <span id="currentRoom">X</span></h2>
        <div>
          <select id="roomSelect" class="border p-2 mb-4">
            <option value="room1">Room 1</option>
            <option value="room2">Room 2</option>
          </select>
          <button id="joinRoomButton" class="bg-blue-500 text-white p-2">Join Room</button>
          <button id="leaveRoomButton" class="bg-red-500 text-white p-2 ml-2">Leave Room</button>
        </div>
        <div id="messages" class="border p-4 mb-4"></div>
        <input id="messageInput" type="text" placeholder="Type a message..." class="border p-2 w-full mb-2">
        <button id="sendButton" class="bg-green-500 text-white p-2">Send</button>
      </div>
    </main>

    <script>
      const userEmail = "<%= user.username %>";
    </script>


    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/js/chat.js"></script>

  </body>
</html>
