@import "./navbar";
@import "./base";

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-button:hover {
  color: red;
}

.btn {
  background-color: $secondary-color;
  &:hover {
    background-color: $primary-color;
  }
}